tmp/
minikube-manifests/
vendor/
./auth
.swp
crdschemas/
.mdoxcache

developer-workspace/gitpod/_output
developer-workspace/codespaces/kind

# JetBrains IDE metadata (matches other repos in this cluster)
.idea/
